<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>Session_Filter</filter-name>
        <filter-class>Session_Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Session_Filter</filter-name>
        <url-pattern>/StockManage_Controll</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginCheckClass</servlet-name>
        <servlet-class>StockManagePackage.LoginCheckClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockManage_Controll</servlet-name>
        <servlet-class>StockManagePackage.StockManage_Controll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockRegist</servlet-name>
        <servlet-class>StockManagePackage.StockRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockBookList</servlet-name>
        <servlet-class>StockManagePackage.StockBookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <servlet-class>StockManagePackage.ErrorPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckClass</servlet-name>
        <url-pattern>/LoginCheckClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockManage_Controll</servlet-name>
        <url-pattern>/StockManage_Controll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockRegist</servlet-name>
        <url-pattern>/StockRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockBookList</servlet-name>
        <url-pattern>/StockBookList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
